.btn {
  height: 4em;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px solid black;
  cursor: pointer;
}

.wrapper {
  height: 2em;
  width: 8em;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower {
  display: grid;
  grid-template-columns: 1em 1em;
  position: absolute;
  transition: grid-template-columns 0.8s ease;
}

.flower1 {
  top: -12px;
  left: -13px;
  transform: rotate(5deg);
}

.flower2 {
  bottom: -5px;
  left: 8px;
  transform: rotate(35deg);
}

.flower3 {
  bottom: -15px;
  transform: rotate(0deg);
}

.flower4 {
  top: -14px;
  transform: rotate(15deg);
}

.flower5 {
  right: 11px;
  top: -3px;
  transform: rotate(25deg);
}

.flower6 {
  right: -15px;
  bottom: -15px;
  transform: rotate(30deg);
}

.flower7 {
  right: -25px;
  top: -12px;
  transform: rotate(30deg);
}

.flower4 {
  top: -1px;
  right: -35px;
  transform: rotate(15deg);
}

.petal {
  height: 1em;
  width: 1em;
  border-radius: 40% 70% / 7% 90%;
  background: linear-gradient(#07a6d7, pink);
  border: 0.5px solid #96d1ec;
  z-index: 0;
  transition: width 0.8s ease, height 0.8s ease;
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(270deg);
}

.four {
  transform: rotate(180deg);
}

.btn:hover .petal {
  background: linear-gradient(#0761d7, #93bdee);
  border: 0.5px solid #96b4ec;
}

.btn:hover .flower {
  grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover .text {
  background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
  animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.btn:hover div.flower2 {
  animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(-325deg);
  }
}

.btn:hover div.flower3 {
  animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn:hover div.flower4 {
  animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

.btn:hover div.flower5 {
  animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-335deg);
  }
}

.btn:hover div.flower6 {
  animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
}

.btn:hover div.flower7 {
  animation: 13s linear 1s normal none infinite running flower7;
}

@keyframes flower7 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-330deg);
  }
}

.btn:hover div.flower8 {
  animation: 17s linear 1s normal none infinite running flower8;
}

@keyframes flower8 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}


#horizontal{
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
}
}


 heading {
 color: black;
 font-family: arial;
}

 body{
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 100em;
  background-image:url("flowers.jpg");
  padding: 20px;
}

 img {
  max-width: 100%;
  height: auto;
}

 h2{
  font-family: arial;
  text-align: left;
}

 .container{
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  background-color:white;
  border: 15px #ddc6a4;
  border-style: ridge;
  padding: 20px;
}

 .section2{
  grid-row: 3/4;
  grid-column:1/11;
  
 #title{
  font-size: 15px;
  border: 1.7px solid #ddc6a4;
  background-color: #f5e5e4;
  border-radius: 500px;
  padding: 5px;
  text-align: center;
}
}

 .section4{
  grid-row:5/6;
  grid-column:1/11;
  }

 .section8{
  grid-row:5/6;
  grid-column:5/6;
  }


 .section3{
  border-top: 1.7px solid #ddc6a4;
  grid-row: 7/8;
  grid-column:1/11;
  #ab{
   padding: 15px;
   align-content: space-between;
}
}

.section5{
  grid-row:9/10;
  grid-column: 1/11;
  padding:0px;
  box-shadow: 10px 20px 30px -30px black;
  #title{
    border: 1.7px solid #ddc6a4;
    padding:10px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    background-color: #f5e5e4;
    font-size: 10px;
}
  #aboutme{
    border-radius: 0px 0px 10px 10px;
    border: 1.7px solid #ddc6a4;
    padding:15px;
    font-size: 10px;
}
}

    @media (max-width: 600px) {
      .container {
        grid-template-columns: 1fr; /* 1 column */
      }
  } 
    .section10{
      grid-row: 10/11;
      grid-column: 10/11;
      padding-top: 17px;
      padding-left:25px;
      width: 70%;
    }
